<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micro-Club Events</title>
    <link rel="shortcut icon" href="../images/Logo-clear.svg" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-logo">
          <a href="../index.html">
            <img src="../images/Logo-white.svg" alt="Micro Club logo" />
          </a>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#support">Support Us</a></li>
            <li><a href="#media">Media</a></li>
            <li><a href="">Join MC</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <form action="">
        <div class="input-container">
          <label for="first-name">First name</label>
          <input
            type="text"
            name="first-name"
            id="first-name"
            minlength="3"
            maxlength="25"
            placeholder="What's your name?"
            autofocus
            required
          />
        </div>
        <div class="input-container">
          <label for="last-name">Last name</label>
          <input
            type="text"
            name="last-name"
            id="last-name"
            minlength="3"
            maxlength="25"
            placeholder="what about ur family name?"
            required
          />
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            minlength="12"
            maxlength="40"
            placeholder="Your Email please..."
            required
          />
        </div>
        <div class="input-container">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            minlength="8"
            maxlength="30"
            placeholder="A Strong one please"
            required
          />
        </div>
        <div class="input-container">
          <label for="r-password">Repeate password</label>
          <input
            type="password"
            name="r-password"
            id="r-password"
            minlength="8"
            maxlength="30"
            placeholder="Make sure it's unbeatable!"
            required
          />
        </div>
        <div class="input-container">
          <label for="Birthday">Birthday</label>
          <input type="date" name="Birthday" id="Birthday" required />
        </div>
        <div class="input-container">
          <label for="level">Level</label>
          <input
            type="text"
            list="levels"
            name="level"
            id="level"
            placeholder="In what year are you studying?"
            required
          />
          <datalist id="levels">
            <option>L1</option>
            <option>L2</option>
            <option>L3</option>
            <option>M1</option>
            <option>M2</option>
          </datalist>
        </div>
        <div class="input-container">
          <label for="level">University</label>
          <input
            type="text"
            list="univ"
            name="university"
            id="university"
            placeholder="Where do you study?"
            required
          />
          <datalist id="univ">
            <option>USTHB</option>
            <option>ESI</option>
            <option>ENPA</option>
            <option>USDB</option>
          </datalist>
        </div>

        <div class="input-container inline">
          <input type="checkbox" id="agreements" required />
          <label for="agreements"> Accept the agreements of the club </label>
        </div>

        <div class="input-container">
          <button type="submit" class="btn-form">Submit</button>
          <button type="reset" class="btn-form">Reset</button>
        </div>
      </form>
    </main>
    <footer>
      <div id="support">
        <h2>Support Us.</h2>
        <div class="support-container">
          <div class="support-sponsor">
            <p>
              If you are willing to be a part of our club to have more success
              and larger impacts, all you have to do is to click on this button!
            </p>
            <input
              type="button"
              value="Join us"
              class="btn btn--shadow row justify-content-center align-items-center"
            />
          </div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="900"
                height="400"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=micro%20club,%20USTHB&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              >
              </iframe>
              <a href="https://123movies-to.org"></a><br />
              <a href="https://www.embedgooglemap.net">add google map</a>
            </div>
          </div>
        </div>
      </div>
      <div id="media">
        <div class="media__links">
          <ul>
            <li>
              <div class="media__node">
                <a href="https://www.facebook.com/Micro.Club.USTHB/">
                  Facebook
                  <img src="../images/facebook.svg" />
                </a>
              </div>
            </li>
            <li>
              <div class="media__node">
                <a href="https://www.instagram.com/microclub_usthb/">
                  Instagram
                  <img src="../images/instagram.svg" />
                </a>
              </div>
            </li>
            <li>
              <div class="media__node">
                <a href="https://www.linkedin.com/in/micro-club-usthb/">
                  LinkedIn
                  <img src="../images/linkedin.svg" />
                </a>
              </div>
            </li>
            <li>
              <div class="media__node">
                <a href="https://github.com/MicroClub-USTHB">
                  Github
                  <img src="../images/github.svg" />
                </a>
              </div>
            </li>
            <li>
              <div class="media__node">
                <a href="mailto:contact@microclub.net">
                  Email Us
                  <img src="../images/envelope.svg" />
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
