html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Cousine', monospace;
    font-weight: lighter;
}

body {
    background-color: #6998AB;
    color: white;
    
}

/* Typography */

p{

    color: white;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'inter', sans-serif;
    line-height: 2;
    letter-spacing: 0px;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    font-family: 'Cousine', monospace;
    font-weight: 700;
}

/* Anchors */

a,a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(73, 67, 67);
    transition: color 0.4s ease-in-out;
  }

/* Scroll bar style */


::-webkit-scrollbar {
    width: 1.2rem;
    height: 1.2rem;
}
::-webkit-scrollbar-thumb {
    background-color: #5c6896;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #2a2f44;
}
/* Nav bar */

nav { 
    top: 0; 
    left: 0; 
    z-index: 1; 
    border: 0.001px solid #6a8da5; 
    height: 10rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    position: fixed; 
    width: 100%; 
    background-color: #6a8da5; 
     
}

.nav-logo {
    float: left;
    height: 8rem;
    width: 12rem;
    text-align: center;
    margin-left: 1.8rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-items: center;
    font-size: 2.3rem;
    list-style: none;
    /* top: 0; */
}

nav ul li {
    margin: 2.3rem 2rem;
}



#openBtn{
    display: none;
    position: absolute;
    justify-content: right;
    top: 3rem;
    right: 10px;
    width: 10rem;
    height: 1rem;
    font-size: 50px;
    line-height: 10%;
}

/* Main */
main {
    margin-top: 20rem;
    background-image: url(../images/grid-repeat.webp);
    background-repeat: repeat;
    animation: animatedBackground 18s linear infinite alternate;
}

@keyframes animatedBackground {
    from{
        background-position: 0 0;
    }
    to {
        background-position: 50% 50%;
    }
}


/* Button */

input {
    font-size: 2rem;
}

.btn--shadow {
    width:16rem;
    height: 6rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
}
.btn--shadow:hover{
    background-color: white;
    color: black;
    transition: 360ms ease;
}

.btn--shadow::before{
    content: '';
    position: absolute;
    background: transparent;
    height: 50%;
    width: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1,0.35);
    filter: blur(8px);
    transition: 1s ease;
}

.btn--shadow:hover::before{
    background: white;

}


/* Definition section */

.row {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
}

.justify-content-center {
    justify-content: center;
}

.aling-items-center {
    align-items: center;
}

.definition {
    margin-top: 7rem;
}

.definition__text h1{
    font-size: 6rem;
    color: white;
}

.definition__text p {
    font-size: 2rem;
}

.definition__logo{
    width: 85rem;
    height: 30rem;
    margin-left: 5rem;
}

/* Sections */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem 30rem;
}

section h2 , footer h2{
    text-align: center;
    font-size: 3rem;
}

/* About us */

.abt__image .img1 img{
    width: 40rem;
    height: 27rem;
    animation: fade 25s infinite;
    border: 1.3rem solid white;
}

.abt__image .img2 img{
    width: 40rem;
    height: 27rem;
    margin-top: -5rem;
    margin-left: -4rem;
    margin-bottom: 3rem;
    animation: fade 25s infinite;
    border: 1.3rem solid white;
    transform: rotate(-6deg);
}

.abt__description {
    margin-left: 5rem;
}

/* Events */

#events {
    display: block;
    margin: 6rem 37.5rem;
}

.double-container {
    display:flex ;
    flex-direction: row;
    margin: 3rem 0;
}

.double-container .ev1 {
    margin-right: 3rem;
}

.double-container .ev2 {
    margin-left: 3rem;
}

.ev1, .ev2 {
    width: 55rem;
}

#events img {
    width: 55rem;
    height: 25rem;
    border-radius: 0.9rem;
}


.ev-description p {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Partners section */

#partners {
    width: 130rem;
    height: 40rem;
    overflow: hidden;
    display: block;
    /* border: dodgerblue solid 3px; */
}

.partners__showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: animatedShowcase 15s linear infinite alternate ,animatedShowcase2 15s linear infinite alternate-reverse ;
}

.child {
    width: 17.5rem;
    height: 17.5rem;
    background-color: white;
    margin: 1rem 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

@keyframes animatedShowcase {
    to {
        transform: translate3d(60rem,0,0);
    }
}

@keyframes animatedShowcase2 {
    to {
        transform: translate3d(-60rem,0,0);
    }
}


/* Support us */

#support {
    display: block;
    margin: 6rem 20rem;
}

.support-container {
    display: flex;
}

.support-container p {
    width: 35rem;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 40rem;
    width: 90rem;
}

.gmap_canvas iframe {
    border-radius: 1.5rem;
    overflow: hidden;
    background: none !important;
    height: 40rem;
    width: 90rem;
}

/* Media */

#media {
    background-color: #7b8dd5;
}

#media ul {
    height: 9rem;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    font-family: 'Cousine', monospace;
    font-size: 2.4rem;
    list-style: none;
    margin-bottom: 0;
}


.media__node {
    margin: 1rem 2rem;
}

.media__node i{
    display: block;
    margin-left: 3rem;
    padding: 1rem;
    transform: scale(2);
    width: 1px;
    color: white;
}

#media a{
    font-size: 15px;
    text-align: center;
}
#media i{  
    margin-left: 1rem;
}
#media p{
    text-align: center;
    margin-bottom: 0px;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    margin: 8rem 0;
}

.input-container label {
    display: block;
    font-size: 2.4rem;
    padding-left: 1rem;
    border: 0;
}

.input-container input {
    width: 70rem;
    height: 3.4rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
    border: 0;
}

.input-container input:focus {
    outline-width: 0;
}

.input-container input::placeholder {
    padding: 1rem;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.inline input {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.input-container datalist option{
    width: 70rem;
}

.btn-form {
    width: 14rem;
    height: 4rem;
    border: 0;
    border-radius: 4rem;
    text-transform: uppercase;
    margin: 2rem;
}

.btn-form:hover {
    background-color:#5c6896 ;
    transition: 420ms;
}

.red {
    color: red;
    font-weight: bolder;
}

@media only screen and (max-width: 1000px){
    
    .definition{
        position: relative;
    }

    .definition__logo{
            position: absolute;
            width: 60%;
            height: 60%;
       }
    .definition__text{
           text-align: center;
           position: relative;
           top: 280px;
           margin-bottom: 30rem;
           padding: 0 11rem;
       }
    .definition__text input{
        margin-left: 0;
        width: 100%;
    }
      
       section {
        display: block;
        justify-content: center;
        margin: auto;
    }
       
    .aboutus{
        position: relative;
    }
    
    .abt__image{
        margin: 5rem 30rem;
    }

    .abt__description{
        position: relative;
        text-align: center;
        margin-left: 0;
        top: 0;
    }
    .abt__description p{
        padding: 0 10rem;
    }
    
/* Events */

#events {
    width: auto;
    margin: 6rem 20%;
}

.double-container {
    display: block;

}

.double-container .ev1 {
    margin-right: auto;
}

.double-container .ev2 {
    margin-left: auto;
}

.ev1, .ev2 {
    width: 100%;
}

#events img {
    width: 55rem;
    height: 25rem;
    border-radius: 0.9rem;
}


.ev-description p{
    font-size: 1.6rem;
    line-height: 1.4;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-left: 5%;
}

.ev-description h2{
    margin-left: -10%;
}

    /* Partners section */

#partners {
    width: 95%;
    height: 40rem;
    overflow: hidden;
    display: block;
    /* border: dodgerblue solid 3px; */
    
}

.partners__showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: animatedShowcase 15s linear infinite alternate ,animatedShowcase2 15s linear infinite alternate-reverse ;
}

.child {
    width: 17.5rem;
    height: 17.5rem;
    background-color: white;
    margin: 1rem 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

@keyframes animatedShowcase {
    to {
        transform: translate3d(60rem,0,0);
    }
}

@keyframes animatedShowcase2 {
    to {
        transform: translate3d(-60rem,0,0);
    }
}

/* Support us */

#support {
    position: relative;
    display: block;
    width: auto;
    font-size: 100px;
    margin: auto;
    margin-bottom: 40rem;
}
.support-sponsor p {
    text-align: center;
   /* margin-left: 30rem;*/
    
}

.support-container input{
    width: 70%;
    margin-left: 15%;
}
.support-container p {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}


.mapouter {
    position: absolute;
    text-align: center;
    margin-left: 3.5rem;
    top: 30rem;
    width: 90%;
    height: 25rem;
    font-size: 25px;
    font-family: 'Cousine', monospace;
    
}

.gmap_canvas iframe {
    border-radius: 1.5rem;
    overflow: hidden;
    background: none !important;
   /* height: 40rem;
    width: 90rem;*/
    height: 25rem;
    width: 100%;
}

#footer{
    position: relative;
}



#media{
    position: static;
    bottom: 0;
    width: 100%;
}
#media a{
    font-size: 15px;
    text-align: center;
}
#media i{  
    margin-left: 1rem;
}
#media p{
    text-align: center;
    margin-bottom: 30px;
}


/*  NavBar Collapse   */

/* Sidenav menu */

  .sidenav ul {
    width: 100%;
    position: absolute;
    background-color: #2a2f44;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

  }
  
  .sidenav a:hover {
    color: #7b8dd5;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav.close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  

  nav { 
    top: 0; 
    left: 0; 
    z-index: 1; 
    border: 0.001px solid #6a8da5; 
    height: 10rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    position: fixed; 
    width: 100%; 
    background-color: #6a8da5; 
     
}

#openBtn{
    display: block;
}
#closeBtn{
  display: block;
}
.enable{
    display: block;
    justify-content: right;
    justify-items: center;
    font-size: 2.3rem;
    list-style: none;
    top: 0; 
}
.disable{
    display: none;
    justify-content: right;
    justify-items: center;
    font-size: 2.3rem;
    list-style: none;
    top: 0; 
}


nav ul li {
    margin: 2.3rem 2rem;
}

/* //////////////////////////////////////////// */

}